<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="src/main/resources/static/css/style.css">
    <!-- <link rel="stylesheet"  th:href="@{/css/style.css}"> -->
    <title>Netflix</title>
</head>
<body>
    <main>
        <header>
            <div>
                <img id="logo" src="https://help.nflxext.com/helpcenter/OneTrust/oneTrust_production_2025-08-26/consent/87b6a5c0-0104-4e96-a291-092c11350111/0198e689-25fa-751d-8fbc-b84325ea3035/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png" alt="">
            </div>
            <div>
                <select id="select_linguage" name="LanguageSelect" data-uia="language-picker-header" data-wct-form-control-element="true">
                    <option lang="pt" label="Português" value="pt-BR">Português</option>
                    <option lang="en" label="English" value="en-BR">English</option>
                </select>
                <a href="">
                    Entrar
                </a>
            </div>    
        </header>
    </main>
   
</body>
</html>